*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-gap: 1px;
 width: 300px;
 height: 300px;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgb(0, 0, 0);
  
}

.square {
  width: 100px;
  height: 100px;
  font-size: 5rem;
  color: black;
  border: solid 2px black;
  background-color: rgb(133, 145, 133);

}

.square_o {
  background-color: rgb(87, 218, 21);
}

.square_x {
  background-color: crimson;
}

.reset {
  margin-top: 2rem;
  font-size: 2rem;
  background-color: aqua;
  border: none;
  border-radius: 6px;
  padding: 1rem;
  cursor: pointer;
}

p {
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
  
  
}
.turn{
margin-top: 30px;
  display: flex;
  grid-gap: 40px;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 10%;
  width: 240px;

}
.squareS{
  width: 100px;
  height: 100px;
  font-size: 5rem;
  color: #000000;
  background-color: rgb(1, 156, 1);
  border: solid 2px black;
}
.squareO{
  width: 100px;
  height: 100px;
  font-size: 5rem;
  color: #000000;
  background-color:  rgb(1, 156, 1);
  border: solid 2px black;
}